@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Administrador/Views/Shared/_LayoutAdmin.cshtml";
  
}
<div id="main_container">
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="@Url.Content("~/Areas/Administrator/Content/images/logo.gif")" alt="" title="" border="0" /></a>
        </div>
    </div>
    <div class="main_content">
        <div class="menu">
     
        </div> 

<div class="center_content">  
    <div class="left_content">
        <br />
        <div class="sidebar_search">
            <form>
                <input type="text" name="empimovel" id="empimovel" class="search_input" value="" placeholder="Empreendimento" ng-model="empreendimento" />
                <img src="~/Areas/Content/images/search.png" alt="Pesquisar" title="Pesquisar" onclick="RetornandoEmpre();" style="cursor:pointer;" />
</form>
    </div>
        <br /><br />
 @Html.Partial("~/Areas/Administrador/Views/Shared/_MenuCorretor.cshtml") 
              
    
</div>  
    
<div class="right_content">            
    <br /><br />
    <h2>Empreendimento:<span ng-bind="empreendimento" id="nomeemp"></span>
        <img src="~/Areas/Content/images/error.png" title="Sair do sistema" alt="Sair do sistema" onclick="DeslogarSistema()" style="cursor:pointer;" />

    </h2> 
    <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
        <thead>
            <tr>
                <th scope="col" class="rounded-company"></th>
                <th scope="col" class="rounded">Empreendimento</th>
                <th scope="col" class="rounded">Cidade</th>
                <th scope="col" class="rounded">Estado</th>
                <th scope="col" class="rounded">Editar</th>
                <th scope="col" class="rounded-q4">Deletar</th>
            </tr>
        </thead>
        <tbody id="dados_empreendimentos">
            
        </tbody>
    </table>
</div>
</div>               
<div class="clear"></div>
</div>
