<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Contexto" connectionString="Data Source=ELIR;Initial Catalog=ImovelWeb;User ID=sa;password=elirweb" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMenu" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12345/ImovelWeb/Servico"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMenu"
        contract="ServicoImovelweb.IMenu" name="WSHttpBinding_IMenu">
        <identity>
          <userPrincipalName value="Elir\ElirWeb" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="ImovelWeb.WCF.Service1" behaviorConfiguration="Service1behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49518/ImovelWeb" />
            <add baseAddress="net.tcp://localhost:49518/ImovelWeb" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:49518/ImovelWeb" binding="basicHttpBinding" contract="Service1.IMenu"/>
        <endpoint address="net.tcp://http://localhost:49518/ImovelWeb" binding="netTcpBinding" contract="Service1.IMenu"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>