@{
    var item = new ImovelWeb.Repository.RepositoryImobiliario().ObterTodos().OrderBy(c => c.NomeImovel);
    //var fotos = new ImovelWeb.Repository.RepositorioFoto().ObterTodos();
        
          
    int classe = 0;
    string tipo = string.Empty;
           
}


        <div id="body">
            <div class="inner">
                <div class="clear br"></div>
                
                @foreach (var dados in item)
                {
                    if ((classe % 2) == 0)
                    { tipo = "leftbox"; }
                    else
                    { tipo = "rightbox"; }
                    
                    <div class="@tipo">
                        <h3>@dados.NomeImovel</h3>
                        <img src="~/Fotos/playground/playground.jpg" width="93" height="101" alt="photo 2" class="left" />
                        <p><b>Preco</b> <b> @String.Format("{0:n2}", decimal.Round( decimal.Parse(dados.Preco.ToString()),2)) </b></p>
                        <p><b>Descrição</b> @dados.Descricao</p>
                        <p class="readmore"><a href="/Home/Comprarmoveis/?codigoimovel_=@dados.ImovelID">Comprar <b>Agora</b></a></p>
                        <div class="clear"></div>
                    </div><!-- end .leftbox -->
                    classe++;
                }


                </div><!-- end .rightbox -->

                <div class="clear"></div>

            </div><!-- end .inner -->
       
        <div class="clear"></div>
        <div id="footer">
            Desenvolvido por <a href="">Elirweb Templates</a>

            &nbsp;
            <div id="footnav">
                <a href="">Legal</a> | <a href="">Politica de Privacidade</a>
            </div><!-- end footnav -->

        </div><!-- end footer -->
    </div><!-- end inner -->
</div><!-- end wrapper -->
